name: Terraform
on:
  issue_comment:
    types: [ created ]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  show-environment:
    runs-on: ubuntu-latest
    name: Show Environment
    steps:
      - name: test
        run: |
          echo "env=${{ github.ref }}"
          echo "issue.pull_request=${{ github.event.issue.pull_request }}"
  set-environment:
    if: |
      github.event.issue.pull_request &&
      (
        github.ref  == 'refs/heads/dev' ||
        github.ref  == 'refs/heads/uat' ||
        github.ref  == 'refs/heads/prod'
      )
    runs-on: ubuntu-latest
    name: Set Environment
    steps:
      - name: test
        run: |
          echo "running"
      - name: Get Reference
        run: |
          echo "REF=$(echo ${{ github.ref }} | cut -d '/' -f 3)" >> $GITHUB_ENV
      - name: Set Environment
        id: workflow_environment
        run: |
          echo "current_reference=${{ env.REF }}"
          echo "::set-output name=workflow_environment::${{ env.REF }}"
    outputs:
      workflow_environment: ${{ steps.workflow_environment.outputs.workflow_environment }}
  job2:
    runs-on: ubuntu-latest
    needs: set-environment
    steps:
      - run: |
          echo "workflow_environment=${{ needs.set-environment.outputs.workflow_environment }}"
