---
name: Terraform Lint
on:
  pull_request:
    types: [opened, synchronize, reopened, labeled]
    paths:
      - 'terraform/**.tf'
      - 'terraform/vars/**.tfvars'
jobs:
  show-environment:
    runs-on: ubuntu-latest
    name: Show Environment
    steps:
      - name: test
        run: |
          echo "env=${{ github.event.pull_request.base.ref }}"

  set-environment:
    if: |
      github.event.pull_request.base.ref = 'ref/heads/dev'
      || github.event.pull_request.base.ref = 'ref/heads/uat'
      || github.event.pull_request.base.ref = 'ref/heads/prod'
    runs-on: ubuntu-latest
    name: Set Environment
    steps:
      - name: test
        run: |
          echo "running"
      - name: Set Environment
        run: |
          case "${{ github.event.pull_request.base.ref }}" in
           'ref/heads/dev' )
             echo "::set-output name=workflow_environment::dev"
             ;;
           'ref/heads/uat' )
             echo "::set-output name=workflow_environment::uat"
             ;;
           'ref/heads/prod' )
             echo "::set-output name=workflow_environment::prod"
             ;;
           *)
            echo "no match"
            exit 1
            ;;
          esac

  validate:
    needs: set-environment
    runs-on: ubuntu-latest
    name: Validate terraform configuration
    steps:
      - name: Checkout
        uses: actions/checkout@v2
