name: UAT Release
on:
  workflow_dispatch:

jobs:
  uat_release:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    name: Create Pull Request to UAT
    env:
      PR_BODY: |
        ## Describe your changes

        ## Checklist before requesting a review
        - [ ] Verified that this worked with DEV environment
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.sha }}

      - name: Set Tag
        run: |
          echo "PR_TAG=$(echo ${{ github.ref }} | cut -d '/' -f 3)" >> $GITHUB_ENV
      - name: Set Title
        run: |
          echo "PR_TITLE='[UAT] Release ${{ env.PR_TAG }}'" >> $GITHUB_ENV
      - name: Create Pull Request
        uses: actions/github-script@v6
        with:
          script: |
            const { repo, owner } = context.repo;
            const result = await github.rest.pulls.create({
              title: '[UAT] Simple demo',
              owner,
              repo,
              head: '${{ github.sha }}',
              base: 'uat',
              body: [
                'This PR is auto-generated by',
                '[actions/github-script](https://github.com/actions/github-script).'
              ].join('\n')
            });
            github.rest.issues.addLabels({
              owner,
              repo,
              issue_number: result.data.number,
              labels: ['UAT']
            });
      # - name: Append commit
      #   run: |
      #     git config user.name 'Github bot'
      #     git config user.email 'github.bot@users.noreply.github.com'
      #     echo "${{ env.PR_TITLE }} `date +%s`"> releaseinfo.txt
      #     git add -A
      #     git commit -m "${{ env.PR_TITLE }}"
      # - name: Create Pull Request
      #   uses: peter-evans/create-pull-request@v4
      #   with:
      #     delete-branch: true
      #     base: "uat"
      #     team-reviewers: |
      #       @mysale/cloud-engineering-team
      #     labels: |
      #       UAT
      #     title: "${{ env.PR_TITLE }}"
      #     body: |
      #       ## Describe your changes
      #
      #       ## Checklist before requesting a review
      #       - [ ] Verified that this worked with DEV environment

