name: UAT Release
on:
  workflow_dispatch:

jobs:
  uat_release:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    name: Create Pull Request to UAT

    steps:
      - uses: actions/checkout@v3
      - name: Set Tag
        run: echo "GITHUB_TAG=$(echo ${{ github.ref }} | cut -d '/' -f 3)" >> $GITHUB_ENV
      - name: pull-request
        uses: repo-sync/pull-request@v2
        with:
          # source_branch: ""
          destination_branch: "uat"                      # If blank, default: master
          pr_title: "[UAT] Release ${{ env.GITHUB_TAG }}"
          pr_body: |
            ## Describe your changes

            ## Checklist before requesting a review
            - [ ] Verified that this worked with DEV environment
          pr_label: "UAT"
          github_token: ${{ secrets.GITHUB_TOKEN }}

