name: UAT Release
on:
  workflow_dispatch:

jobs:
  uat_release:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    name: Create Pull Request to UAT
    steps:
      - uses: actions/checkout@v3
        with:
          ref: uat
      - name: Set Tag
        run: |
          echo "PR_TAG=$(echo ${{ github.ref }} | cut -d '/' -f 3)" >> $GITHUB_ENV
      - name: Reset promotion branch
        run: |
          ENV=uat

          # checkout tag
          git fetch --all
          git checkout ${{env.PR_TAG}}

          # create a diff patch by comparing the current Release to the target branch
          git diff origin/${ENV} > diff.patch

          # revert back to release branch
          git checkout ${ENV}

          # remove if branch is still existing
          git checkout -D ${{env.PR_TAG}}-${ENV}-release
          git checkout -b ${{env.PR_TAG}}-${ENV}-release

          # Apply changes to release branch
          cat diff.patch | git apply
          git commit -am "[${ENV^^}] Release ${{env.PR_TAG}}"
          rm diff.patch

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          delete-branch: true
          branch: "${{env.PR_TAG}}-uat-release"
          base: uat
          team-reviewers: |
            @mysale/cloud-engineering-team
          labels: |
            UAT
          title: "[UAT] Release ${{ env.PR_TAG }}"
          body: |
            ## Description
            created by: @${{github.actor}}

            ## Checklist before requesting a review
            - [ ] Verified that this worked with DEV environment
